{% extends 'base.html' %}
{% load static %}

{% block body %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;background-color: #ffffff;" id='container'>
        <legend></legend>
        {{ data|safe }}
</fieldset>

{% endblock %}

<!-- {% block scripts %}
<script>
    $(
        function () {
            fetchData();
        }
    );

    function fetchData() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/One_APP/rtt_View",
            dataType: 'json',
            success: function (result) {
                var data = result.data;

                for(i=0;i<data.length;i++){
                    let parent = document.getElementById('container');
　　　　             let div = document.createElement("div");   // 添加 div
                    div.setAttribute("id", 'line'+i);
                    div.setAttribute("style", "width:1000px; height:600px;");

                    console.log('line'+i);
                    parent.appendChild(div);
                    var chart = echarts.init(document.getElementById('line'+i), 'white', {renderer: 'canvas'});
                    chart.setOption($.parseJSON(data[i]));
                }
            }
        });
    }
</script>
{% endblock %} -->